<div class="container" style="margin-top: 150px;">
    <div class="row align-items-center">
        <div class="col-md-6 offset-md-1 pb-5">
            <img src="/assets/logo.svg" width="60%" alt="">
            <h3 class="px-4" style="margin-top: -15px;">Facebook helps you connect and share with the people in your life.</h3>
        </div>
        <div class="col-md-4">
            <div class="card p-4 bg-white shadow-sm">
                <input type="tel" class="form-control mb-3" placeholder="Email address or phone number">
                <input type="text" class="form-control mb-3" placeholder="Password">
                <button class="btn btn-lg btn-primary"> {{isLoading ? 'Loading...':'Log in'}}</button>
                <div class="text-center my-3"><a href="#" class="text-decoration-none">Forgotten password?</a></div>
                <hr>
                <button class="btn btn-lg btn-success w-75 mx-auto" style="background-color: #42b72a;">Create New Account</button>
            </div>
            <div class="text-center my-3"><a href="" class="text-decoration-none text-dark"><b>Create a Page</b></a> for a celebrity, brand or business.</div>
        </div>
    </div>
</div>