<app-header></app-header>
<div class="position-fixed left-0 h-100 py-2 d-flex flex-column align-items-center border bg-white shadow-sm"
    style="z-index: 10;">
    <i class="fa-solid fa-house p-3 hovered-item text-primary" routerLink="/"></i>
    <div class="p-3" style="border-left: 5px solid #1B74E4;" routerLink="/profile">
        <img src="https://cdn.icon-icons.com/icons2/2643/PNG/512/male_boy_person_people_avatar_icon_159358.png"
            width="25px" alt="">
    </div>
    <hr>
    <i class="fa-solid fa-user-group p-3 hovered-item text-primary" routerLink="/friends"></i>
    <i class="fa-solid fa-store p-3 hovered-item text-primary"></i>
    <i class="fa-solid fa-gamepad p-3 hovered-item text-primary"></i>
</div>
<div class="card">
    <div class="w-75 mx-auto">
        <img class="rounded" src="/assets/images/story/image (3).jfif" width="100%" height="300px" alt="">
        <div class="d-flex align-items-center px-5" style="margin-top: -40px;">
            <img src="https://cdn.icon-icons.com/icons2/2643/PNG/512/male_boy_person_people_avatar_icon_159358.png" width="200px" alt="">
            <div class="px-3 w-100">
                <h3>Brandson Johnson</h3>
                <h6 class="text-secondary">234 friends</h6>
                <div class="d-flex align-items-center">
                    <div>
                        <img src="/assets/images/story/image (1).jfif" class="rounded-circle" width="35px" height="35px" style="margin-left: -2px;" alt="">
                        <img src="/assets/images/story/image (2).jfif" class="rounded-circle" width="35px" height="35px" style="margin-left: -2px;" alt="">
                        <img src="/assets/images/story/image (3).jfif" class="rounded-circle" width="35px" height="35px" style="margin-left: -2px;" alt="">
                        <img src="/assets/images/story/image (4).jfif" class="rounded-circle" width="35px" height="35px" style="margin-left: -2px;" alt="">
                        <img src="/assets/images/story/image (5).jfif" class="rounded-circle" width="35px" height="35px" style="margin-left: -2px;" alt="">
                    </div>
                    <div class="ms-auto">
                        <button class="btn btn-primary px-4 mx-2"> <i class="fa-solid fa-circle-plus"></i> Add to story</button>
                        <button class="btn btn-secondary px-4 mx-2">Edit profile</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex align-items-center">
            <h6 class="m-0 p-3 text-primary" style="border-bottom: 3px solid #1B74E4;"><b>Posts</b></h6>
            <h6 class="m-0 p-3 hovered-item text-secondary"><b>About</b></h6>
            <h6 class="m-0 p-3 hovered-item text-secondary"><b>Friends</b></h6>
            <h6 class="m-0 p-3 hovered-item text-secondary"><b>Photos</b></h6>
            <h6 class="m-0 p-3 hovered-item text-secondary"><b>Videos</b></h6>
        </div>
    </div>
</div>